name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:

  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo 
        uses: actions/checkout@v2
    
      - name: Install doctl 
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Log in to DO Container Registry 
        run: doctl registry login --expiry-seconds 600  

      - name: Build image 
        env: 
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: docker build -t registry.digitalocean.com/docker-cours/sniphub-back:main-${{ github.sha }} . --build-arg DATABASE_URL=$DATABASE_URL

      - name: Push image to DO Container Registry 
        run: docker push registry.digitalocean.com/docker-cours/sniphub-back:main-${{ github.sha }}

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.PAT }}
          repository: ${{ github.actor }}/sniphub-deploy
          event-type: new-image-back
          client-payload: '{"image": "registry.digitalocean.com/docker-cours/sniphub-back:main-${{ github.sha }}"}'

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: registry.digitalocean.com/docker-cours/sniphub-back:main-${{ github.sha }}
          format: 'sarif'
          output: 'trivy-results.sarif'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'